@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer {
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

footer {
  border-top: 1px solid #eaeaea;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.cart {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 1rem;
}